nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  box-shadow: 5px 10px 30px $shadow;
  z-index: 10;
  top: 0;
  background-color: $white;

  @media screen and(max-width: 1251px) {
    padding: 0 20px;
  }


  .nav-container {
    display: flex;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
    .logo {
      display: flex;
      align-items: center;
      
      h3 {
        transform: translate(15px, 2px);
        font-size: 1.5rem;
        font-family: $font-3;
      }
      img {
        height: 3rem;
      }
    }
    
    ul {
      display: flex;
      align-items: center;
      width: 35%;
      justify-content: space-between;
      font-size: 1.2rem;
      
      .welcome {
        transform: translateY(4px);

        @media screen and(max-width: 590px) {
          display: none;
        }
        
        h5 {
          font-family: $font-3;
          margin-bottom: 8px;
        }
      }
      
      li {
        
        img {
          width: 80%;
          height: 80%;
          cursor: pointer;
        }
      }
    }
  }
}